@media screen and (min-width: 600px) {
  header nav a .logo {
    height: 1rem;
    margin-top: 1.6rem; }
  header nav div .desordenada nav-link {
    font-size: 1rem;
    margin-top: 1rem; }
  main h1 {
    font-size: 4rem; } }

@media screen and (min-width: 1200px) {
  /*header*/
  .encabezado {
    height: 8rem; }
    .encabezado nav a .logo {
      height: 2rem; }
    .encabezado nav div div .desordenada {
      display: flex;
      justify-content: center; }
      .encabezado nav div div .desordenada .nav-item {
        font-size: 1.8rem;
        margin-left: 2rem;
        margin-right: 2rem;
        justify-content: space-evenly; }
      .encabezado nav div div .desordenada .nav-item:hover {
        text-decoration: underline; }
  /*footer*/
  footer {
    height: 9rem; }
    footer ul .redes {
      font-size: 2.3rem; }
    footer p {
      font-size: 1.8rem; }
  /*index main*/
  main h1 {
    font-size: 4rem; }
  main .slogan {
    font-size: 2.2rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*header*/
.encabezado {
  background-color: #F9B288; }
  .encabezado nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .encabezado nav a {
      text-decoration: none; }
      .encabezado nav a .logo {
        margin-top: 1.8rem;
        margin-left: 1rem;
        height: 1.5rem; }
    .encabezado nav div div .desordenada {
      display: flex;
      justify-content: space-between; }
      .encabezado nav div div .desordenada .nav-item {
        list-style: none;
        font-size: 1.2rem;
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.2rem; }
        .encabezado nav div div .desordenada .nav-item .nav-link {
          text-decoration: none;
          color: black;
          font-family: 'Times New Roman', Times, serif; }

/*index.html main*/
.imagenFondo {
  background-image: url(../img/brittney-weng-CSquI0aw_Rg-unsplash.jpg);
  background-size: cover;
  height: 850px;
  background-position: center left; }
  .imagenFondo h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 2.1rem;
    font-family: 'Times New Roman', Times, serif; }
  .imagenFondo .slogan {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: center; }

/*footer*/
footer {
  background-color: #F9B288;
  height: 7.5rem; }
  footer .listaFinal {
    text-align: center; }
    footer .listaFinal .redes {
      font-size: 1.3rem;
      display: inline-block;
      font-family: 'Times New Roman', Times, serif;
      padding-top: 1.4rem;
      padding-left: 2rem;
      padding-right: 2rem; }
      footer .listaFinal .redes a {
        text-decoration: none;
        color: black; }
  footer p {
    margin: 1.2rem;
    color: black;
    font-size: 1.3rem; }
