*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    background-color: #F9D8C4;
    
}


/*estilos index*/

/*header*/

.encabezado{
    background-color: #F9B288;
    height: 10rem;
}

.logo{
    margin-top: 1.8rem;
    margin-left: 1rem;
    height: 0.9rem;
}


header nav a{
    text-decoration: none;
}


.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
    font-size: 1.2rem;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.2rem;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/*main*/

.imagenFondo{
    background-image: url(../img/brittney-weng-CSquI0aw_Rg-unsplash.jpg);
    background-size: cover;
    height: 850px;
    background-position: center left;
}


main h1{
    text-decoration: underline;
    text-align: center;
    font-size: 2.1rem;
    font-family: 'Times New Roman', Times, serif;
}
  

.slogan{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: center;
}

/*footer*/

footer{
    background-color: #F9B288;
    height: 7.5rem;

}

footer ul{
    text-align: center;
}
.redes{
    font-size: 1.3rem;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

footer p{
    margin: 1.2rem;
    color: black;
    font-size: 1.3rem;
}



/*html productos*/

/*main*/

main ul li img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

main ul li{
    list-style: none;
}

.cuerpo{
    display: grid;
    grid-template-areas: "uno dos"
                         "tres cuatro"
                         "cinco seis"
                         "siete ocho";

    gap: 2rem;
    margin: 2rem;
    justify-content: center;
    justify-items: center;                     
}

.uno{
    grid-area: uno;
}

.dos{
    grid-area: dos;
}

.tres{
    grid-area: tres;
}

.cuatro{
    grid-area: cuatro;
}

.cinco{
    grid-area: cinco;
}

.seis{
    grid-area: seis;
}

.siete{
    grid-area: siete;
}

.ocho{
    grid-area: ocho;
}

.nueve{
    display: none;
}
    

/*html nosotros*/

/*main*/

.textoUno{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin: 4rem 1rem;
    text-align: center;
}

.textoDos{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin: 4rem 1rem;
    text-align: center;
}

.textoTres{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin: 4rem 1rem;
    text-align: center;
}

.textoCuatro{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin: 4rem 1rem;
    text-align: center;
}

/*html locales*/

.mapaLocal{
    width: 350px;
    height: 350px;
    margin: 2rem;
    border-radius: 10%;
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
}

main p{
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}

/*html contacto*/


.textoFormulario{
    font-size: 1rem;
}



.seccionFormulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.boton{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

/*media queries*/

@media screen and (min-width:600px){
    
    .logo{
        height: 1rem;
        margin-top: 1.6rem;
    }

    .lista{
        font-size: 1rem;
        margin-top: 1rem;
    }

    

}


@media screen and (min-width:1200px){

    .encabezado{
        height: 8rem;
    }

    .logo{
        height: 1.5rem;
    }

    .navbar-nav{
        display: flex;
        justify-content: center;
    }

    .nav-item{
        font-size: 1.8rem;
    }
    

    header nav div div ul li:hover{
        text-decoration: underline;

    }

    main h1{
        font-size: 4rem;
    }

    .slogan{
        font-size: 2.2rem;
    }    

    footer{
        height: 9rem;
    }

    .redes{
        font-size: 2.3rem;
    }

    footer p{
        font-size: 1.8rem;
    }


    /*main de producto*/

    main ul li img{
        height: 250px;
        width: 250px;
    }

    .cuerpo{
        grid-template-areas: "uno dos tres"
                             "cuatro cinco seis"
                             "siete ocho nueve";
        
        gap: 3.5rem;                  
                        
    }

    .nueve{
        display: block;
    }

    .cremasDescripcion:hover{
        transform: scale(1.1);
    }


    /*main de nosotros*/

    .textoUno{
        font-size: 3rem;
        margin: 3rem 1rem;
    }

    .textoDos{
        font-size: 2.6rem;
        margin: 3rem 1.5rem;
    }

    .textoTres{
        font-size: 2.6rem;
        margin: 3rem 3.5rem;
    }

    .textoCuatro{
        font-size: 2.6rem;
        margin: 3rem 1.5rem;
    }

    /*main de locales*/

    .mapaLocal{
        width: 700px;
        height: 700px;
        margin: 2rem;
    }

    main p{
        font-size: 2rem;
        margin: 1rem;
    }

    /*main contactos*/

    .textoFormulario{
        font-size: 2.2rem;
        margin: 1.5rem;
    }

}