

//import

@import "misc/mixin";
@import "misc/extend";
@import "misc/medias-q";
@import "misc/maps";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-fondo:#F9D8C4;
$color-secundario:#F9B288;



/*header*/

.encabezado{
    background-color: $color-secundario;
    nav{
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            img{
                margin: 1rem;
                height: 2.2rem;
            }
        }
        div{
            display: flex;
            justify-content: flex-end;
            div{
                font-size: 1.5rem;
                margin-left: 3rem;
                margin-right: 3rem;
                .ul{
                    li:hover{
                        text-decoration: underline;
                    }
                    .nav-item{
                        list-style: none;
                        .nav-link{
                            text-decoration: none;
                            color: black;
                            font-family: 'Times New Roman', Times, serif;
                        }
                        }
                    }
                }
            }
        }
    }

/*footer*/

footer{
    background-color: $color-secundario;
    height: 8.5rem;
    .listaFinal{
        text-align: center;
        .redes{
            font-size: 2rem;
            display: inline-block;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            a{
                text-decoration: none;
                color: $red;
            }
        }
    }

    p{
        margin: 1.2rem;
        color: black;
        font-size: 2rem;
    }
}

/*index.html main*/

.imagenFondo{
    background-image: url(../img/brittney-weng-CSquI0aw_Rg-unsplash.jpg);
    background-size: cover;
    height: 850px;
    background-position: center left;
    h1{
        @include titulo
        
    }
    .slogan{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        text-align: center;
    }
}

/*fondo general*/

.fondo{
    background-color: $color-fondo;
}

/*main de productos*/

main{
    h1{
        @include titulo
    }
    .cuerpo{
        display: grid;
        grid-template-areas: "uno dos tres"
                             "cuatro cinco seis"
                             "siete ocho nueve";
        
        gap: 3.5rem;
        margin: 2rem;
        justify-content: center;
        justify-items: center;
        .uno{
            grid-area: uno;
        }
        
        .dos{
            grid-area: dos;
        }
        
        .tres{
            grid-area: tres;
        }
        
        .cuatro{
            grid-area: cuatro;
        }
        
        .cinco{
            grid-area: cinco;
        }
        
        .seis{
            grid-area: seis;
        }
        
        .siete{
            grid-area: siete;
        }
        
        .ocho{
            grid-area: ocho;
        }
        
        .nueve{
            grid-area: nueve;
        }
        .cremasDescripcion:hover{
            transform: scale(1.1);
        }
        li{
            list-style: none;
            img{
                height: 250px;
                width: 250px;
                border-radius: 2rem;
            }
        }                  
    }
    
}

/*main de nosotros*/

main{
    h1{
        @include titulo
    }
    section{
        .textoUno{
            @extend %texto
        }
        .textoDos{
            font-family: 'Times New Roman', Times, serif;
            font-size: 2.6rem;
            margin: 5rem 6rem;
            text-align: center;
        }
        div{
            display: flex;
            justify-content: center;
            img{
                width: 700px;
                height: 630px;
                border-radius: 2rem;
            }
        }
        .textoTres{
            @extend %texto
        }
        .textoCuatro{
            font-family: 'Times New Roman', Times, serif;
            font-size: 2.6rem;
            margin: 5rem 6rem;
            text-align: center;
        }
    }
}

/*main de locales*/

main{
    h1{
        @include titulo
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        .mapaLocal{
            width: 700px;
            height: 700px;
            margin: 2rem;
            border-radius: 10%;
        }
    }
    p{
        text-align: center;
        font-size: 2.5rem;
        margin: 1rem;
    }
}

/*main de contactos*/

main{
    div{
        .textoFormulario{
            font-size: 2.2rem;
            margin: 1.5rem;
        }
    }
    .seccionFormulario{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        margin-bottom: 6rem;
        div{
            div{
                h1{
                    @include titulo
                }
            }
        }
    }
}


@media screen and (max-width: 800px){
    .encabezado{
        nav{
            justify-content: center;
            align-items: flex-start;
            div{
                justify-content: flex-start;
                div{
                    font-size: 1.5rem;
                }
            }
        }
    }

    footer{
        .listaFinal{
            .redes{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }

    /*html de productos*/

    main{
        .cuerpo{
            grid-template-areas:"uno dos"
                                "tres cuatro"
                                "cinco seis"
                                "siete ocho";

            .nueve{
            display: none;
            }
            

            li{
                img{
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    /*main de nosotros*/

    main{
        section{
            .textoUno{
                font-size: 2rem;
            }
            .textoDos{
                font-size: 2rem;
            }
            div{
                img{
                    width: 600px;
                    height: 530px;
                }
            }
            .textoTres{
                font-size: 2rem;
            }
            .textoCuatro{
                font-size: 2rem;
            }
        }
    }

    /*main de contacto*/

    main{
        div{
           .textoFormulario{
            font-size: 1.8rem;

           } 
        }
    }

    
}

@media screen and (max-width: 500px){
    .encabezado{
        nav{
            a{
                img{
                    height: 1.7rem;
                }
            }
            div{
                div{
                    font-size: 1.1rem;
                }
            }
        }
    }

    footer{
        p{
            font-size: 1.5rem;
        }
    }

    /*titulos generales*/

    main{
        h1{
            font-size: 2.5rem;
        }
    }

    /*main del index*/

    .imagenFondo{
        h1{
            font-size: 2.5rem;
        }
        .slogan{
            font-size: 1.5rem;
        }
    }

    /*main de productos*/

    main{
        .cuerpo{
            grid-template-areas:"uno"
                                "dos"
                                "tres"
                                "cuatro"
                                "cinco"
                                "seis"
                                "siete"
                                "ocho"
                                "nueve";
            .nueve{
            display: block;
            }
            

            li{
                img{
                    height: 230px;
                    width: 230px;
                }
            }
        }
    }

    /*main de nosotros*/

    main{
        section{
            .textoUno{
                font-size: 1.5rem;
            }
            .textoDos{
                font-size: 1.5rem;
            }
            div{
                img{
                    width: 400px;
                    height: 330px;
                }
            }
            .textoTres{
                font-size: 1.5rem;
            }
            .textoCuatro{
                font-size: 1.5rem;
            }
        }
    }

    /*main de locales*/

    main{
        div{
            .mapaLocal{
                width: 600px;
                height: 600px;
            }
        }
        p{
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            font-size: 1.8rem;
        }
    }

    /*main de contactos*/

    main{
        div{
            .textoFormulario{
                font-size: 1.4rem;
            }
        }
    }





}

