/*main del index*/

.imagenFondo{
    background-image: url(../img/brittney-weng-CSquI0aw_Rg-unsplash.jpg);
    background-size: cover;
    height: 850px;
    background-position: center left;
    h1{
        @include titulo;
    }
    .slogan{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        text-align: center;
    }
}