@media screen and (max-width: 800px){
    .encabezado{
        nav{
            justify-content: center;
            align-items: flex-start;
            div{
                justify-content: flex-start;
                div{
                    font-size: 1rem;
                }
            }
        }
    }

    footer{
        .listaFinal{
            .redes{
                font-size: 1.2rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }

    /*html de productos*/

    main{
        .cuerpo{
            grid-template-areas:"uno"
                                "dos"
                                "tres"
                                "cuatros"
                                "cinco"
                                "seis"
                                "siete"
                                "ocho"
                                "nueve";

            li{
                img{
                    height: 100px;
                    width: 150px;
                }
            }
        }
    }

    
}